/* Commons */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #434343;
}

/**********************
* Site header 
**********************/
#site_header {
  background-color: black;
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px 30px;
}

#site_header > h1 {
  color: #e50f14;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
}

#site_header > input {
  height: 30px;
  width: 200px;
  font-size: 1.2rem;
  color: #434343;
  padding: 0 5px;
  margin-bottom: 0.3rem;
}

/**********************
* Site main 
**********************/
#main_site {
  height: calc(100% - 80px);
  overflow-y: auto;
}

#main_site h2 {
  text-transform: uppercase;
  color: white;
  margin-top: 3rem;
  margin-left: 30px;
}

.cards_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 344px;
  height: 515px;
  overflow-y: hidden;
  margin: 0.5rem 1rem;
}
.card > .back {
  width: 100%;
  height: 515px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-weight: 200;
  background-color: black;
  padding: 1rem;
  padding-top: 4rem;
  border: 2px solid gray;
  display: none;
  overflow-y: auto;
}
.card:hover .back {
  display: block;
}

.card .back span {
  font-weight: 500;
}

.back .vote_avarege i.fas {
  color: orange;
}
.back .vote_avarege i.far {
  color: gray;
}
